@import "variables";
@import "grillas";
@import "cards";


.Titulo1 {
    display: grid;
    justify-content: center;
    background-color: lightblue;
    color: white;
}

nav {
    .lista-navegacion {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
            .navegacion a {
                    text-decoration: none;
                    color: black;
                }
    } 
}

li:hover {
    background-color: lightblue;
    padding: 10px;
}

.planes {
    background-color: $color-grillas;
    h2 {
        color: black;
        font-family: "Hurricane";
        text-align: center;
        font-size: 2.5rem;
            .textoMembresia{
                    display: grid;
                    justify-items: center;
                    font-size: 1.5rem;
            }
        }
}

.promociones {
    display: grid;
    justify-items: center;
    .promos {
        background-color: lightseagreen;
        font-size: 2rem;
            
        
    }
}

/*mixin*/
@mixin colorYfuente ($background-color, $font-size) {
        background-color: $background-color;
        font-size: $font-size;
}


.beneficios {
    @include colorYfuente(pink, 1.5rem)
}

footer {
    @extend .promociones
}

@media (max-width: 1023px) {
    #cursos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    #cursos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
    
